[Unit]
Description=LIRC Infrared Mouse Event Signal Decoder
Requires=lircd.service
After=network.target lircd.service

[Service]
Type=simple
EnvironmentFile=-/etc/sysconfig/lirc
ExecStart=/usr/sbin/lircmd  $LIRCMD_OPTIONS --nodaemon

[Install]
WantedBy=multi-user.target
