policy_module(lircd, 2)

gen_require(`
  type lircd_t;
  type passwd_file_t;
')


#============= lircd_t ==============
allow lircd_t passwd_file_t:file { read getattr open };
allow lircd_t self:capability { setuid setgid dac_override };
