[Unit]
Description=LIRC Infrared Signal Exec
Documentation=System daemon handling events from IR remotes decoded \
by lircd

[Service]
; user =
: group =
Type=simple
ExecStart=/usr/sbin/irexec /etc/lirc/irexec.lircrc

[Install]
WantedBy=multi-user.target
