[Unit]
Documentation=man:irexec(1)
Documentation=http://lirc.org/html/configure.html
Documentation=http://lirc.org/html/configure.html#lircrc_format
Description=Handle events from IR remotes decoded by lircd(8)

[Service]
; user=lirc
; group=lirc

; Hardening opts, see systemd.exec(5).  Doesn't add much unless
; not running as root.
;
; CapabilityBoundingSet=CAP_SETEUID
; PrivateTmp=true
; ProtectSystem=full
; NoNewPrivileges=true
; ProtectHome=true


Type=simple
ExecStart=/usr/sbin/irexec /etc/lirc/irexec.lircrc

[Install]
WantedBy=multi-user.target
