[Unit]
After=lircd.service
Documentation=man:lircd-uinput(8)
Documentation=http://lirc.org/html/configure.html
Description=Forward LIRC button presses as uinput events

[Service]
Type=simple
ExecStart=/usr/sbin/lircd-uinput

[Install]
WantedBy=multi-user.target
