[Unit]
Wants=lircd.socket
Documentation=man:lircmd(8)
Documentation=http://lirc.org/html/configure.html
Description=Convert IR remotes button presses to mouse movements and clicks

[Service]
Type=simple
ExecStart=/usr/sbin/lircmd  --nodaemon

[Install]
WantedBy=multi-user.target
