[Unit]
Documentation=man:lircd(8)
Documentation=http://lirc.org/html/configure.html
Description=Flexible IR remote input/output application support
Wants=lircd-setup.service
After=network.target lircd-setup.service

[Service]
Type=simple
ExecStart=/usr/sbin/lircd --nodaemon
; User=lirc
; Group=lirc

[Install]
WantedBy=multi-user.target
