[Unit]
Description=LIRC Infrared Signal Decoder
After=network.target

[Service]
Type=simple
EnvironmentFile=/etc/sysconfig/lirc
ExecStart=/usr/sbin/lircd $LIRCD_OPTIONS \
    --driver $LIRC_DRIVER --device $LIRC_DEVICE  --nodaemon

[Install]
WantedBy=multi-user.target
