[Unit]
Description=LIRC Infrared Signal Decoder - setup as root
Documentation=Runs lircd initialization commands as root even if \
lircd runs as a regular user

[Service]
Type=oneshot
ExecStart=/usr/sbin/lircd-setup

[Install]
WantedBy=multi-user.target
