[Unit]
After=lircd.service
Documentation=man:lircd-uinput(8)
Documentation=http://lirc.org/html/configure.html
Description=Forward LIRC button presses as uinput events

[Service]
Type=simple
ExecStart=/usr/sbin/lircd-uinput
; user=lirc
; group=lirc

; Hardening opts, see systemd.exec(5).  Doesn't add much unless
; not running as root.
;
; CapabilityBoundingSet=CAP_SETEUID
; PrivateTmp=true
; ProtectSystem=full
; NoNewPrivileges=true
; ProtectHome=true


[Install]
WantedBy=multi-user.target
