[Unit]
Description=LIRC Infrared Signal Decoder
Wants=lircd-setup.service
After=network.target lircd-setup.service

[Service]
Type=simple
ExecStart=/usr/sbin/lircd --nodaemon
; User=lirc
; Group=lirc

[Install]
WantedBy=multi-user.target
