Source: lirc
Section: misc
Priority: optional
Maintainer: Alec Leamas <leamas.alec@gmail.com>
Build-Depends:
 autotools-dev,
 bzip2,
 debhelper (>= 9),
 devscripts,
 dh-autoreconf,
 dh-systemd,
 doxygen,
 libasound2-dev [!hurd-i386 !kfreebsd-i386 !kfreebsd-amd64],
 libice-dev,
 libsm-dev,
 libusb-1.0-0-dev [!hurd-i386],
 libx11-dev,
 libxt-dev,
 module-init-tools,
 man2html,
 pkg-config,
 python3,
 python3-yaml,
 xsltproc,
 tree
# libjs-jquery    (See lintian overrides)
# libftdi1-dev,   (Not available in jessie)
#
# See DBS #801588
Build-Conflicts: libirman
Standards-Version: 3.9.6


Package: lirc
Section: misc
Homepage: http://www.lirc.org
Architecture: any
Depends:
 liblirc0 (= ${binary:Version}),
 ${misc:Depends},
 ${python3:Depends},
 ${shlibs:Depends},
 lsb-base
Suggests:
 lirc-x,
 setserial,
 ir-keytable
Breaks: lirc-modules-source (<<0.9~),
 lirc-svga (<<0.9~)
Description: infra-red remote control support
 LIRC stands for 'Linux Infra-red Remote Control'.
 .
 This package provides the daemons and some utilities to support infra-red
 remote controls under Linux.


Package: lirc-doc
Architecture: all
Section: doc
Homepage: http://www.lirc.org
Depends:
 ${misc:Depends},
 lsb-base
# libjs-jquery,    (See lintian overrides)
Description: infra-red remote control support
 LIRC stands for 'Linux Infra-red Remote Control'.
 .
 This package provides the documentation including manual, manpages and
 the public website.


Package: liblirc0
Architecture: any
Section: libs
Homepage: http://www.lirc.org
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 lsb-base
Description: infra-red remote control support
 LIRC stands for 'Linux Infra-red Remote Control'.
 .
 Package contains internal LIRC runtime libs used by external applications
 (liblirc-client.so*), drivers (liblirc_driver.so*) and also internal
 LIRC applications (lirc_private.so*)


Package: liblirc-dev
Architecture: any
Section: libdevel
Homepage: http://www.lirc.org
Depends:
 liblirc0 (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends},
 lsb-base
Description: infra-red remote control support
 LIRC stands for 'Linux Infra-red Remote Control'.
 .
 Package contains headers and other support used when developing external
 applications, drivers (liblirc_driver.so) and also internal LIRC
 software. See the User Space Driver API and  Lirc Client API sections
 in the lirc manual available in lirc-doc.


Package: lirc-x
Architecture: any
Depends:
 lirc (= ${binary:Version}),
 ${shlibs:Depends},
 ${misc:Depends}
Recommends: xfonts-75dpi
Description: infra-red remote control support - X utilities
 LIRC stands for 'Linux Infra-red Remote Control'.
 .
 This package provides X utilities for LIRC:
  - irxevent: Allows controlling X applications with a remote control.
  - xmode2:   Shows the IR waveform of the remote controller without an
              oscilloscope. Unneeded for TV cards or the Irman.
