#!/usr/bin/make -f

# See debhelper(7) (uncomment to enable)
# Output every command that modifies files on the build system.
# DH_VERBOSE = 1

# See EXAMPLES in dpkg-buildflags(1) and read /usr/share/dpkg/*
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

# see FEATURE AREAS in dpkg-buildflags(1)
# export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
# export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
# export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

# main packaging script based on dh7 syntax

%:
	dh $@ --with autoreconf --with python3 --with-systemd


override_dh_autoreconf:
	dh_autoreconf $(CURDIR)/autogen.sh


override_dh_auto_install:
	$(MAKE) -j DESTDIR=$(CURDIR)/debian/tmp install
	py3clean debian/tmp
	find debian/tmp -name *.la -delete
	# Debian uses .../dist-packages vs upstream .../site-packages.
	# Preferably, this should be fixed in upstream autotools setup.
	dh_link /usr/lib/python3/dist-packages/lirc/lirc-setup \
	    /usr/bin/lirc-setup
	mkdir -p debian/tmp/usr/lib/tmpfiles.d
	echo "d /var/run/lirc  0777  root  root  10d" \
	    > debian/tmp/usr/lib/tmpfiles.d/lirc.conf
	## (Don't) use system library instead of bundled jquery.js.
	## See lintian overrides
	# rm -f debian/tmp/usr/share/doc/lirc/lirc.org/api-docs/html/jquery.js
	# ln -sf ../../../../../../javascript/jquery/jquery.js \
	#     debian/tmp/usr/share/doc/lirc/lirc.org/api-docs/html

override_dh_systemd_enable:
	dh_systemd_enable --name=lircd

override_dh_install:
	dh_install --fail-missing

override_dh_python3:
	dh_python3
	# Restore link nuked by 0007-tools-remove-configs-symlink.patch
	# (Debian BTS #801719).
	dh_link /usr/share/lirc/configs \
	    /usr/lib/python3/dist-packages/lirc/configs

override_dh_fixperms:
	dh_fixperms
	chmod 755 debian/lirc/usr/share/lirc/contrib/irman2lirc
